@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--light-gray);
}

.qr_component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 275px;
    padding: 15px;
    text-align: center;
    background: var(--white);
    border-radius: 25px;
    gap: 10px;
    -webkit-box-shadow: 0px 0px 22px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 22px -10px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 22px -10px rgba(66, 68, 90, 1);
}

.qr_img {
    display: block;
    width: 100%;
    height: auto;
    flex: 0 auto;
    border-radius: 25px;
}

.txt_box {
    padding: 15px;
}

.main_txt {
    font-size: 18px;
    margin-bottom: 15px;
}

.description {
    color: var(--grayish-blue);
    font-size: 14px;
}